body
{
  overflow-x: hidden
}

/*Nav*/

      .navbar-toggler-icon
      {
        border: solid;
        border-color: rgb(236, 234, 198) ;
        border-radius: 50%;
        transition-duration: 0.4s;
      }
      .navbar-toggler-icon:hover
      {
        background-color: rgb(236, 234, 198);
      }

      nav
      {
        background-color: rgb(59, 56, 42);
      }
      
      .nav-link, footer
      {
        color: antiquewhite;
        font-family: 'Karla'
      }

      .nav-link:visited
      {
        color: beige;
      }

      .nav-link:hover
      {
        color: rgb(112, 165, 42);
      }

      .nav-link:hover
      {
        color: burlywood;
      }
 
/*link*/

      a
      { text-decoration: none;
        color: rgb(51, 48, 33);
      }

      a:hover
      {
        color: rgb(24, 71, 57);
      }

       /* Carousel base class */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  background: black;
  height: 32rem;
}
/*.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;}*/

  .overlay-img
  {
   
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
  }

      .col-sm-4
      {
        
        width: 10%;
        height: 10%;
      }
 
      .text, p, .sub, .placeholder
      {
        font-family: 'Karla';
      }

      .text h3
      {
        color: rgb(0, 0, 0);
        font-family: 'Goudy Old Style';
      }

      h1
      {
        color: rgb(0, 0, 0);
        font-family: 'Goudy Old Style';
      }

      footer
      {
        background-color: black;
      }

      #map
      {max-width: 100%;
        max-height: 100%;
        width: 500px;
        height: 300px;
        border-radius: 10px;
      }

      .one
      {
        background-color: rgb(236, 234, 198);
      }

      
  
/*card*/    
      .card 
      {
        background-color: rgb(34, 46, 38);
        
      }

      .card-body
      {
        
        color: rgb(236, 234, 198);
        font-family: 'Karla';

      }

      .btn
      {
        font-family: 'Karla';
        color: burlywood;
        border: solid;
        border-color: burlywood;
        transition-duration: 0.4s;
      }

      .btn:hover
      {
        color: rgb(0, 0, 0);
        background-color: burlywood;
      }

      .list
      {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
      }

     

      .collapsible {
        font-family: 'Goudy Old Style';
        background-color: rgb(43, 61, 50);
        color: rgb(235, 234, 192);
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 2vw;
      }
      
      @media screen and (max-width: 600px) {
       .collapsible {
          font-size: 10vw;
       }
       }     

      
      .activated, .collapsible:hover {
        background-color: rgb(0, 0, 0);
      }
      
      .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212";
      }
      
      .content {
        height: 33vw;
        padding: 2 px;
        max-height: 0;
        overflow-x: hidden;
        overflow-y: auto;
        transition: max-height 0.2s ease-out;
        background-color: #000000;
      }
      
      .row {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0 4px;
      }
      
      .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
      }
            
             
      
      .column img {
       margin-top: 8px;
       vertical-align: auto;
       width: 100%;
      }
      
      @media screen and (max-width: 800px) {
      .column {
                flex: 25%;
                max-width: 50%;
              }
      }
            
            
       @media screen and (max-width: 600px) {
       .column {
       flex: 25%;
       max-width: 100%;
      }
      }     

      /* activities */

      .activities
      {
       display: flex;
      }

      .activity
      { 
        font-family: Karla;
        padding: 1.5vw;
      }

      .activity img
      {
        max-width: 100%;
        width: 50vw;
        height: auto;
      }

      @media screen and (max-width: 600px) {
        .activity img
      {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
       }  
       
      .cov
      {
        background-color: rgb(255, 255, 255);
        font-family: Karla;
        font-weight: bold;
      }      
      
      .contact{
        background-color: rgb(124, 126, 107);
        display: block;
      }


      .contact a 
      {
        color: rgb(236, 234, 198);
        font-style: italic;
        font-weight: normal;
      }


      /*click activity*/

    .textimg{
        color: rgb(212, 219, 177);
        font-size: 2vw;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      } 

      .grid
      {
        display: flex;
        justify-content:space-evenly;
        align-content: center;

      }

      .grid img
      {
        width: 100%;
        height: auto;
        padding: 0.5%;
        justify-content: space-evenly;
      }
      
      .con{
        position: relative;
      }

      .img-over{
        display: flex;
        height: auto;
      }

      .over-text
      {
        position: absolute;    
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgb(34, 46, 38);;
      }

      .con:hover .over-text {
        opacity: 1;
      }

      @media screen and (max-width: 600px) {
      .over-text  
      { 
        opacity: 0.7;
        transition: none;
      }

      .textimg{
        font-size: 10vw;
      }
       } 
       
.socmed
{
  display: flex;
  justify-content: space-evenly;
}

/*form*/
textarea 
{
  width:100%;
  border: solid burlywood;
  border-radius: 4px;
  box-sizing: border-box;
  resize: both;
}

.book
{
  margin : 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
 
}

fieldset
{ background-color: rgb(255, 248, 226);
  padding: 12px 20px;
  border-radius: 5px; 
  
}


.book input:focus, textarea:focus
{
  border-radius: 5px;
}

select 
{
  width: 100%;
  padding: 8px 10px;
  border: solid burlywood;
  border-radius: 4px;
  
}

.row input
{
  width: 100%;
  padding: 8px 10px;
  border: solid burlywood;
  border-radius: 4px;
}

.extras
{
 width: 100%;
 height: auto;
 border: none;
 border-radius: 4px;
}

ul
{
  list-style-type: none;
}


      
   
      
       



  

     

      
